/*Raiz onde os estilos serão pegos de uma única vez*/
:root {
    /* FONT */
    --font-dm-sans:"DM Sans", sans-serif;

    /* COLORS */
    /* Originais 131313 e (0,0,07) */
    --bg-icon: #003933;
    --bg-arrow-color: rgba(0,77,64);
    
    /* Originais 121212 e 242424 */
    --bg-color: #004d40;
    --bg-lighter-color: #00796b;

    /* Original */
    --font-color: ;
}