/*Raiz onde os estilos serão pegos de uma única vez*/
:root {
    /* FONT */
    --font-dm-sans:"DM Sans", sans-serif;

    /* COLORS */
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0,0,07);
    /* Mudar para 004d40 e 00796b */
    --bg-color: #121212;
    --bg-lighter-color: #242424;
}